.pf-c-spinner {
  --pf-c-spinner--AnimationDuration: 1.5s;
  --pf-c-spinner--AnimationTimingFunction: cubic-bezier(0.77, 0.005, 0.315, 1);
  --pf-c-spinner--diameter: var(--pf-global--icon--FontSize--xl);
  --pf-c-spinner--stroke-width-multiplier: 0.1;
  --pf-c-spinner--stroke-width: calc(
    var(--pf-c-spinner--diameter) * var(--pf-c-spinner--stroke-width-multiplier)
  );
  --pf-c-spinner--Width: var(--pf-c-spinner--diameter);
  --pf-c-spinner--Height: var(--pf-c-spinner--diameter);
  --pf-c-spinner--Color: var(--pf-global--primary-color--100);
  --pf-c-spinner--m-sm--diameter: var(--pf-global--icon--FontSize--sm);
  --pf-c-spinner--m-md--diameter: var(--pf-global--icon--FontSize--md);
  --pf-c-spinner--m-lg--diameter: var(--pf-global--icon--FontSize--lg);
  --pf-c-spinner--m-xl--diameter: var(--pf-global--icon--FontSize--xl);
  --pf-c-spinner__clipper--Width: var(--pf-c-spinner--diameter);
  --pf-c-spinner__clipper--Height: var(--pf-c-spinner--diameter);
  --pf-c-spinner__clipper--after--BoxShadowColor: var(--pf-c-spinner--Color);
  --pf-c-spinner__clipper--after--Width: var(--pf-c-spinner--diameter);
  --pf-c-spinner__clipper--after--Height: var(--pf-c-spinner--diameter);
  --pf-c-spinner__clipper--after--BoxShadowSpreadRadius: var(
    --pf-c-spinner--stroke-width
  );
  --pf-c-spinner__lead-ball--after--BackgroundColor: var(--pf-c-spinner--Color);
  --pf-c-spinner__ball--after--Width: var(--pf-c-spinner--stroke-width);
  --pf-c-spinner__ball--after--Height: var(--pf-c-spinner--stroke-width);
  --pf-c-spinner__tail-ball--after--BackgroundColor: var(--pf-c-spinner--Color);
  position: relative;
  display: inline-block;
  width: var(--pf-c-spinner--Width);
  height: var(--pf-c-spinner--Height);
  text-align: left;
  -webkit-animation: pf-animation-spinner-parent
    calc(var(--pf-c-spinner--AnimationDuration) * 2)
    var(--pf-c-spinner--AnimationTimingFunction) infinite;
  animation: pf-animation-spinner-parent
    calc(var(--pf-c-spinner--AnimationDuration) * 2)
    var(--pf-c-spinner--AnimationTimingFunction) infinite;
}

.pf-c-spinner.pf-m-xl {
  --pf-c-spinner--diameter: var(--pf-c-spinner--m-xl--diameter);
}

.pf-c-spinner__clipper {
  position: absolute;
  width: var(--pf-c-spinner__clipper--Width);
  height: var(--pf-c-spinner__clipper--Height);
  -webkit-clip-path: inset(0 0 50% 50%);
  clip-path: inset(0 0 50% 50%);
  -webkit-animation: pf-animation-spinner__clipper
    var(--pf-c-spinner--AnimationDuration) linear infinite;
  animation: pf-animation-spinner__clipper
    var(--pf-c-spinner--AnimationDuration) linear infinite;
}

.pf-c-spinner__lead-ball {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-animation: pf-animation-spinner__lead-ball
    var(--pf-c-spinner--AnimationDuration) linear infinite;
  animation: pf-animation-spinner__lead-ball
    var(--pf-c-spinner--AnimationDuration) linear infinite;
}

.pf-c-spinner__tail-ball {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-animation: pf-animation-spinner__tail-ball
    var(--pf-c-spinner--AnimationDuration) linear infinite;
  animation: pf-animation-spinner__tail-ball
    var(--pf-c-spinner--AnimationDuration) linear infinite;
}
