@import '@patternfly/react-styles/css/utilities/Spacing/spacing.css';
@import '@patternfly/react-styles/css/utilities/Text/text.css';
@import '@patternfly/react-styles/css/utilities/Sizing/sizing.css';

:root {
  --spaship-global--Color--spaship-gray: #333333;
  --spaship-global--Color--light-gray: #d2d2d2;
  --spaship-global--Color--bright-gray: #eaeaea;
  --spaship-global--Color--sonic-silver: #72767b;
  --spaship-global--Color--primary-blue: #06c;
  --spaship-global--Color--text-black: #151515;
  --spaship-global--Color--ui-blue: #0066cc;
  --spaship-global--Font-Family: RedHatDisplay, Overpass, Roboto, Cantarell, helvetica, arial,
    sans-serif;
  --spaship-table-container-max-width: 1041px;
  --spaship-button-width-200: 200px;
  --spaship-card-hight-160: 160px;
  --pf-global--FontWeight--bold: 500;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: RedHatText, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.pf-c-page {
  --pf-c-page--BackgroundColor: #f0f0f0 !important;
  --pf-c-page__main-section--BackgroundColor: #fff !important;
  height: 100vh !important;
}

.pf-c-page__sidebar {
  --pf-c-page__sidebar--Width: 240px;
  --pf-c-page__sidebar-body--PaddingTop: 0;
}

.pf-c-page__sidebar-body {
  height: 100% !important;
}

.pf-c-button {
  --pf-c-button--m-link--Color: #000 !important;
}

.pf-m-primary {
  --pf-c-button--m-primary--BackgroundColor: var(--spaship-global--Color--primary-blue) !important;
  outline: none;
}

.pf-m-primary:hover {
  --pf-c-button--m-primary--BackgroundColor: var(--spaship-global--Color--primary-blue) !important;
}

.pf-m-primary:focus {
  --pf-c-button--m-primary--focus--BackgroundColor: var(
    --spaship-global--Color--primary-blue
  ) !important;
}

.pf-m-primary:active {
  --pf-c-button--m-primary--active--BackgroundColor: var(
    --spaship-global--Color--primary-blue
  ) !important;
}

.pf-c-nav__link::before {
  --pf-c-nav__link--before--BorderBottomWidth: 0;
}

.pf-c-nav__link {
  --pf-c-nav__link--hover--Color: #fff;
  --pf-c-nav__link--hover--after--BorderLeftWidth: 2px;
  --pf-c-nav__link--hover--after--BorderColor: #fff;
  --pf-c-nav__link--m-current--after--BorderColor: var(--spaship-global--Color--primary-blue);
  --pf-c-nav__link--m-current--Color: #fff;
  transition: all 250ms linear;
  padding-left: 8px;
  padding-right: 8px;
}

.pf-c-form__label-text {
  font-family: RedHatDisplay;
}

.pf-c-switch__input:checked ~ .pf-c-switch__toggle {
  --pf-c-switch__input--checked__toggle--BackgroundColor: var(
    --spaship-global--Color--primary-blue
  );
}

.pf-c-form-control:focus {
  --pf-c-form-control--focus--BorderBottomColor: var(--spaship-global--Color--primary-blue);
}
.pf-c-form-control:hover {
  --pf-c-form-control--hover--BorderBottomColor: var(--spaship-global--Color--primary-blue);
}

.pf-c-radio {
  display: flex !important;
}

.pf-c-radio__label {
  --pf-c-radio__label--FontSize: 14px;
}

.pf-c-table thead {
  font-family: RedHatDisplay;
}

.pf-c-spinner {
  --pf-c-spinner--Color: var(--spaship-global--Color--primary-blue) !important;
}

.rounded-md {
  border-radius: 8px !important;
}

.rounded-sm {
  border-radius: 4px !important;
}

.shadow-sm {
  box-shadow: 0px 3px 6px #00000029 !important;
}

.hover\:shadow-sm:hover {
  box-shadow: 0px 3px 6px #00000029 !important;
}

.transition {
  transition: all 150ms linear;
}

.capitalize {
  text-transform: capitalize;
}

.text-decoration-none {
  text-decoration: none;
  color: inherit;
}

.cursor-pointer {
  cursor: pointer;
}

.x-y-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.selected-card {
  border-top: 5px solid var(--spaship-global--Color--primary-blue);
}

#nprogress .bar {
  background: var(--spaship-global--Color--primary-blue);
}
#__next
  > div.pf-c-page.pf-m-resize-observer.pf-m-breakpoint-2xl.pf-m-height-breakpoint-2xl
  > main
  > div
  > div.pf-m-grow
  > section.pf-c-page__main-section.pf-m-limit-width.pf-m-align-center.pf-u-px-3xl
  > div
  > div
  > div:nth-child(3)
  > article
  > div.pf-c-card__body
  > table
  > tbody
  > tr
  > td.pf-u-display-flex.pf-u-justify-content-flex-end {
  display: flex;
  justify-content: flex-end;
}
#def-list-toggle1_ > span.pf-c-accordion__toggle-text {
  width: 100%;
}
.ssr-actions {
  --pf-c-button--m-link--Color: #06c !important;
}

.form-header {
  display: flex;
  align-items: center;
  font-size: var(--pf-c-form__label--FontSize);
  line-height: var(--pf-c-form__label--LineHeight);
  font-family: 'RedHatDisplay';
  font-weight: var(--pf-c-form__label-text--FontWeight);
  color: #000;
}
.pf-c-form__helper-text.pf-m-error {
  --pf-c-form__helper-text--Color: #c9190b;
}
.activity {
  color: 'green' !important;
}

/* .pf-c-list > .pf-m-expanded {
  height: 500px !important;
} */

.dashboard-card {
  color: #06c;
  font-family: 'REDHATDISPLAY';
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 37px;
}

.dashboard-card-subheadings {
  color: #151515;
  font-family: 'RedHatText';
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
}
.activityStream {
  font-weight: 400;
  font-family: 'RedHatText';
}

.pf-c-drawer {
  height: calc(65vh); /*Default value for larger screens  */
}

@media (max-width: 1366px) {
  .pf-c-drawer {
    height: calc(50vh + 10px); /* Adjust the value for smaller screens */
  }
}
.pf-c-drawer__body {
  padding-top: 0px;
}
.pf-c-tabs__link {
  display: inline !important;
}
.select-tab-ids > ul > li.pf-c-tabs__item.pf-m-current {
  --pf-c-tabs__link--Color: var(--pf-c-tabs__item--m-current__link--Color);
  --pf-c-tabs__link--after--BorderColor: #c9190b;
  --pf-c-tabs__link--after--BorderWidth: #c9190b;
}
.select-log-ids > .pf-c-select__toggle {
  color: rgb(255, 255, 255);
  background-color: #333333;
}
.select-log-ids > .pf-c-select__toggle::before {
  border-color: #333;
}
.pf-c-nav__section-title {
  padding: 8px;
  font-size: 12px;
  margin: 0px;
}
.pf-c-nav__section + .pf-c-nav__section {
  --pf-c-nav__section--MarginTop: 0px;
}
.pf-c-page__main-body {
  padding-top: 0px !important;
}
