.appDetailSectionHeading {
  font-family: 'Red Hat Text';
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
}
.appDetailSectionValue {
  font-family: 'Red Hat Text';
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
}
.appDetailSectionBlueValue {
  font-family: 'Red Hat Text';
  font-size: 16px;
  font-weight: 500;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
  color: #0066cc;
}
.appDetailSectionlastUpdate {
  font-family: 'Red Hat Text';
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: right;
  float: right !important;
}
