name: SPAship Manager Build and Push to Quay

on:
  push:
    branches:
      - 'master'
      - 'develop'
      - 'qa'
    tags:
      - '*'
    paths:
      - '*'
  workflow_dispatch:
    inputs:
      version:
        description: Bump Version
        default: v1.0.0
        required: false
jobs:
  push_to_registry:
    name: Push Docker image to Registries
    env:
      IMAGE_NAME: "manager"
      REGISTRY_NAMESPACE: "spaship"
    runs-on: ubuntu-latest
    steps:
      - name: Inject slug/short variables
        uses: rlespinasse/github-slug-action@v3.x

      - name: Check out the repo
        uses: actions/checkout@v3

      - name: Login to Quay.io
        uses: docker/login-action@v1
        with:
          registry: quay.io
          username: ${{ secrets.CI_QUAY_USERNAME }}
          password: ${{ secrets.CI_QUAY_TOKEN }}

      - name: Build and push into repository
        id: docker_build
        uses: docker/build-push-action@v2
        with:
          context: ./packages/manager
          #file: ./packages/manager/Dockerfile
          push: ${{ github.event_name != 'pull_request' }}
          tags: |
            quay.io/${{ env.REGISTRY_NAMESPACE }}/${{ env.IMAGE_NAME }}:${{env.GITHUB_REF_SLUG}}
      - name: Image digest
        run: echo ${{ steps.docker_build.outputs.digest }}
